@charset "utf-8";
/* CSS Document */

#slider {
		background-image: url('../img/banner.png');
	height: 205px;
	clear: both;
	margin: 0px;
	border-top: 2px solid #C66;
	border-bottom: 2px solid #C66;
	background-size: contain;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center -4px;
}

.justifica p {
	text-align:justify;
}

.social p {
	text-align:center;
}
.social a {
	text-decoration:none;
}

.footer {
	text-align:center;
	font-size:0.7em;
}

#NoConnectSplash {
	background:#fff url('../img/nonetconn.jpg') top center fixed;
	background-size:auto 100%;
}

#citaonline button {
	width:90% !important;
	margin:0 auto;
}